{% extends 'project_base.html' %}

{% block sub_js_section %}
{% endblock %}

{% block page_title %}ERROR 404{% endblock %}

{% block content %}
    <div class="all-content" style="width: 60%; margin: auto; position: absolute;  top: 25px; left: 0; bottom: auto; right: 0;">
        <div class="jumbotron" style="text-align: center;">
            <h2>File Does Not Exists.</h2>
            <h3>Or, your file expired.</h3>
            <br />
            <br />
            <br />
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Back to home page.</a></p>
        </div>
    </div>
{% endblock %}